/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/rnaseq -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'sample profile'
    config_profile_description = 'sample profile'

    // Parameters for full-size test
    input          = '/home/ubuntu/rnaseq/samplesheet.csv'
    genome         = 'GRCh38'
    adapter_1      = 'AGATCGGAAGAGC'
    adapter_2      = 'GATCGTCGGACTG'
    pseudo_aligner = 'salmon'
}
